<div class="" style="height: calc(100vh - 64px);margin: 0;padding: 0;">

    <style>

        #music-volume{
            background-color:palevioletred;
        }

        #options-title {
            width: 80vw;
            text-align: center;
            font-family: bungee;
            font-size: 5vw;
            color: palevioletred;
        }

        #options-form{
            display: block;
            text-align: center;
            width: 80vw;
            height: calc(100vh - 64px);
            margin-left: 10vw;
        }

        #options-back{
            display: block;
            float: left;
            margin-left: 5vw;
            margin-top: 5vh;
            background-color: #222222;
            color: white
        }

        #options-back:hover{
            background-color: palevioletred;
            color: #222222;
        }

        #options-save{
            background-color: #222222;
            color: white
        }

        #options-save:hover{
            background-color: palevioletred;
            color: #222222;
        }

        #back-icon{
            color: white;
        }

        #back-icon:hover{
            color: #222222;
        }

          input[type=range]::-webkit-slider-thumb {
            background-color: palevioletred;
            }

    </style>

    <button onclick="changePage('home');" class="btn btn-large btn-floating" id="options-back"><i class="material-icons"
            id="back-icon">arrow_back</i></button>
    <form id="options-form">
        <br>
        <h2 id="options-title">Options</h2>
        <br>
        <p class="range-field">
            <p class="" id="music-volume-value">Music Volume: 50</p>
            <input type="range" id="music-volume" min="0" max="100" />
        </p>
        <br>
        <p class="range-field">
            <p class="" id="effect-volume-value">Effect Volume: 50</p>
            <input type="range" id="effect-volume" min="0" max="100" />
        </p>
        <br>
        <button type="button" onclick="saveSettings();" id="options-save" class="btn btn-large">Save Changes</button>
    </form>

    <script src="./options/options.js"></script>

</div>